table {
  background-color: #333;
  padding: 10px;
}

.menu {
  list-style-type: none; 
  display: flex;  
  justify-content: space-between;  

.menu td {
  padding: 10px;  
}

.menu td a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;  
}


.menu td {
  margin-right: 20px;  

 
.menu td:last-child {
  margin-right: 0;
}
